<%= "Hand##{hand.id}" %>
<% current_user ||= @current_user %>
<% game ||= @game %>

<p>
  Pot: <%= hand.pot %><br>
  Round: <%= hand.round %>
</p>
<% if hand.community_cards.present? %>
  <p>
    Community cards: <br>
    <%= raw hand.community_cards.split(' ').map{|c| Card.to_image_html(c)}.join('') %>
  </p>
<% end %>
<ul>
  <% hand.players.each do |player| %>
    <li>
      <%= raw player.user.id == current_user.id ? player.to_s_for_owner_user : player.to_s %>
    </li>
  <% end %>
</ul>

<div id="hand_control" style="display:<%= !hand || hand.action_player.user.id != current_user.id || hand.finished? ? 'none' : 'block' %> ">
  <%= render(partial: 'games/hands/controls', locals: { game: game, hand: hand }) if hand %>
</div>
